<%- include("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <h1><i class="fas fa-paw"></i> Welcome to Breeds Page</h1>
    <hr>
    <p>View this exсiting buddies!</p>
    <p>
      <a class="btn btn-info" href="/breeds/create">Add new Breed</a>
    </p>
  </header>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% breeds.forEach(breed => { %>
      <div class="col-md-3 col-sm-6">
        <div class="card-deck p-2">
          <div class="card">
            <img class="card-img-top" style="height: 190px;" src="<%= breed.img %>" alt="breed-photo">
            <div class="card-body" style="padding: 5px; height: 110px;">
              <h4 class="card-title"><%= breed.name %></h4>
              <p>
                <a href="/breeds/<%= breed._id %>" class="btn btn-info btn-sm">Details</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<footer id="sticky-footer" class="py-4 text-blue-50">
  <div class="container text-center">
    <small>Copyright &#169; BreedStore</small>
  </div>
</footer>

  <%- include("../partials/footer") %>
